.btn {
    padding: 12 32;
    width: 272px;
    height: 48px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    gap: 10px;
    line-height:1.6;
    background-color: var(--bg-accent-cl);
    border-radius: 30px;
    background-color: #00600C;


    }