.buynow {
  background-color: #e2f2e4;
  padding: 28px 0;
  @media screen and (min-width: 768px) {
    padding: 72px 0;
    text-align: center;
  }
  &_title {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 24px;
    line-height: calc(34px / 24px);
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 9px;
    @media screen and (min-width: 768px) {
      text-align: start;
      width: 542px;
      font-weight: 600;
      font-size: 36px;
      line-height: calc(42px / 36px);
      letter-spacing: -1px;
    }
  }
  &_text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 15px;
    line-height: calc(22px / 15px);
    text-align: center;
    @media screen and (min-width: 768px) {
      width: 542px;
      font-weight: 400;
      font-size: 18px;
      line-height: calc(26px / 18px);
      letter-spacing: -0.5px;
      margin-bottom: 42px;
      text-align: start;
    }
  }
  &__wrap {
    display: block;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }
  &__box {
    @media screen and (min-width: 768px) {
      align-items: start;
      flex-direction: column;
      display: flex;
    }
  }
  &_img {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  &_img-mobile {
    display: block;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &_btn {
    display: block;
    margin: 0 auto;
    padding: 12 32;
    width: 272px;
    height: 48px;
    color: #00600c;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 14px;
    line-height: calc(23px / 15px);
    border-radius: 30px;
    border: 2px solid #00600c;
    &:hover {
      color: #ffff;
      background-color: #00600c;
      box-shadow: 5px 6px 0px 0px #033d0a;
    }

    @media screen and (min-width: 768px) {
      width: 196px;
      height: 64px;
      letter-spacing: -0.5px;
      margin: 0 auto 41px;
      padding: 16px 49px;
      font-size: 20px;
      font-weight: 600;
      line-height: calc(30px / 20px);
    }
  }
}

.btn_group {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.btn_group-m {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 24px;
  }
}
