// Slider
.slider {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #fff;
  padding: 48px 0 0;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 1148px;
    padding: 48px 100px;
    position: relative;
  }
}

.swiper-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
// Стилі для слайдів
.swiper-slide {
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 288px;
  }
}

.swiper-img {
  max-width: 100%;
  height: auto;
  margin-right: 0;
  @media screen and (min-width: 768px) {
    margin-right: 24px;
  }
}
.swiper-image {
  width: 100%;
  max-width: 84px;
  margin-right: 24px;
  height: 84px;
  border-radius: 17.188px;
  background: linear-gradient(180deg, #1a2755 0%, #000 100%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.span-title {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 15.359px;
  margin-bottom: 5px;
}

.span-text {
  color: #fff;
  font-size: 9px;
  font-weight: 400;
  line-height: 9.296px;
}
.slide-text {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: calc(22px / 16px);
  letter-spacing: -0.04px;
}
.slide-info {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: calc(16px / 12px);
}
.slide-inner {
  text-align: center;
  width: 256px;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.button-container {
  width: 320px;
  display: flex;
  justify-content: space-around;

  @media screen and (min-width: 768px) {
    width: 960px;
    justify-content: space-between;
    margin: 0 auto;
  }
}
.swiper-button-prev:after {
  display: none;
}
.swiper-button-next:after {
  display: none;
}
.swiper-button-prev {
  left: 90px;
  top: 280px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cg id='Frame 1327225196' clip-path='url(%23clip0_1_3263)'%3E%3Ccircle id='Ellipse 2736' cx='24' cy='24' r='23' transform='matrix(1 -8.74228e-08 -8.74228e-08 -1 0 48)' stroke='%2300600C' stroke-width='2'/%3E%3Cpath id='Vector' d='M27 16L19 24L27 32' stroke='%2300600C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_3263'%3E%3Crect width='48' height='48' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  @media screen and (min-width: 768px) {
    left: 0;
    top: 90px;
  }
}
.swiper-button-next {
  right: 90px;
  top: 280px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cg id='Frame 1327225223' clip-path='url(%23clip0_1_3266)'%3E%3Ccircle id='Ellipse 2736' cx='24' cy='24' r='23' transform='rotate(-180 24 24)' stroke='%2300600C' stroke-width='2'/%3E%3Cpath id='Vector' d='M21 16L29 24L21 32' stroke='%2300600C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_3266'%3E%3Crect width='48' height='48' fill='white' transform='matrix(-1 0 0 1 48 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 768px) {
    right: 0;
    top: 90px;
  }
}

.swiper-icons {
  width: 48px;
  height: 48px;
}
.swiper-slide {
  padding-bottom: 133px;
  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }
}
